
body {
  background-color: #CB2C30;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

div#overview {
  max-width:800px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

h1 {
  font-family: 'righteous', cursive;
  font-size: 64px;
  margin-bottom: 0;
}


a {
  color: #ffffff;
}

div.links {
  margin-top: 36px;
  font-size: 24px;
}

div.links a {
  text-decoration: none;
  padding: 0 20px 0 20px;  
}

div.links a:hover {
  opacity: 0.85;
}

span.tagline {

}

.light {
  color: #dd8888;
}